:root{
    --bold:700;
    --regular:400;
    --main-font:'Bodoni Moda', serif;
    --secondary-font:'Roboto', sans-serif;
    --off-white:#f8f8f8;
    --light-black:#333333;
    --accent-color:rgb(212,175,55);
    --accent-color-hover:rgba(212,175,55,0.5);
}





*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BOOTSTRAP STYLES */


/* END */

/* UNIVERSAL STYLES */

.hide{
    display:none;
    transition:1s ease;
}



body{
    font-size:100%;
    font-family:var(--secondary-font);
    line-height:1.2;
    overflow-x:hidden;
}

.container {
    padding:3rem;
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--main-font);
}

p{
    font-family:var(--secondary-font);
    letter-spacing:1px;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
    color:var(--off-white);
}

.button{
    padding:15px;
    border:1px solid var(--accent-color);
    border-radius:3px;
    background-color:var(--accent-color);
    color:var(--off-white);
    text-transform: uppercase;
    font-size:0.8rem;
    letter-spacing:2px;
}


.button:hover{
    background-color:var(--accent-color-hover)
}

/* START OF HEADER */


/* START OF NAVIGATION */
.navbar{
    display:flex;
    justify-content:space-between;
}


.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-nav .nav-link {
    color:#fff;
}

.navbar-toggler-icon{
    color:#fff;
}
nav{
    padding-top:3rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}



nav ul li{
    display:inline-block;
}

nav ul li a{
    margin:2rem;
    text-transform: uppercase;
    font-size:0.8rem;
    letter-spacing:2px;
}

.nav-item a {
    color:#fff;
}

.nav-item a:hover{
    color:var(--accent-color);
}

.img-logo{
    width:75px;
    height:75px;
}

/* END OF NAVIGATION */


/* START OF HEADER-CONTENT */

.content {
    margin:0 auto;
}

header{
    background-image:url(images/pexels-irina-iriser-977304.jpg);
    background-size:cover;
    background-position: center;
    height:100vh;
    width:100vw;
    position:relative;
}


.header-content{
    color:var(--off-white);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:250px;
    min-height:100vh;
    padding-bottom:9rem;

}

.header-content h1{
    color:var(--off-white);
    font-family:var(--main-font);
    font-weight:var(--bold);
    font-size:5rem;
    text-decoration:underline;
}

.header-content p{
    font-size:0.9rem;
    text-transform:uppercase;
    letter-spacing:2px;
}

 /* START OF HEADER-CONTENT END */
.sct{
    padding-top:2rem;
}

/* ABOUT US SECTION / SECTION 1 */
.sct-1{
    height:auto;
}

.sct{
    text-align:center;
}

.sct h1{
    text-decoration:underline;
    font-size:3rem;
    color:var(--light-black);
}

.sct p{
    color:var(--light-black);
    line-height:2;
}

/* ABOUT US SECTION / SECTION 1 END */


/* TOP SELLERS SECTION / SECTION 2 */


.sct-2 img{
    width:500px;
    height:500px;
    margin:0 auto;
    padding:3rem 0 3rem 0;
}


 /* TOP SELLERS SECTION / SECTION 2  END */

/* REVIEWS SECTION / SECTION 3 */

.sct-3{
    background:linear-gradient(rgba(212,175,55,0.5), rgba(212,175,55,0.5)), url(images/sct-3ph2.jpg);
    background-position: center;
    background-size: cover;
    height:80vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.sct-3 p{
    color:var(--off-white);
    font-size:0.8rem;
    letter-spacing:1px;
}

.sct-3 h3{
    color:var(--off-white);
    font-family:var(--main-font);
    font-size:2.8rem;
}

.sct-3 i{
    margin-top:1.5rem;
    font-size:3rem;
    color:var(--accent-color);
}


.carousel-control-prev{
    font-size:4rem;
}


.per img{
    border-radius:50%;
    height:80px;
    width:80px;
    margin:1rem auto;
}
/* REVIEWS SECTION / SECTION 3 */

/* START OF SECTION 4 */

.sct-4 h2{
    font-size: 2.5rem;
}

form{
    text-align:start;
    display:flex;
    flex-direction:column;
    max-width:fit-content;
    margin:0 auto;
}

form #name{
    margin-bottom:1rem;
}

form #email{
    margin-bottom:1rem;
}


form input{
    padding:10px 5px;
}

textarea{
    padding:2px 5px;
    max-width:100%;
}


/* FOOTER SECTION STARTS HERE */


/* CIRCLE IS A PLACEHOLDER FOR PERSONAL IMAGES IN THE FUTURE */

/* FOOTER SECTION */
.ftr{
    height:auto;
    color:var(--light-black);
}

.ftr .content{
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.ftr img{
    width:100px;
    height:100px;
}

.links .ftr-links{
    display:flex;
    flex-direction:row;
}

.ftr-links li a {
    color:var(--light-black);
}


.ftr .nav-link{
    font-size:0.8rem;
    text-transform: uppercase;
}


.social-icons i{
    font-size:1.8rem;
    margin:0 1rem 0 1rem;
    cursor:pointer;
}

.social-icons i:hover{
    color:var(--accent-color);
}

.ftr p{
    font-size:0.8rem;
    padding-top:3rem;
    
}

.ftr span{
    text-decoration:underline;
    font-size:0.8rem;
}


/* MEDIA QUERIES */

/* SURFACE DUO 540X720 */
@media screen and (max-width:780px){
.sct-2 .container{
    padding:0;
}

.sct-3{
    margin-top:1.5rem;
}
.sct-3 h3{
    font-size:1.8rem;
    padding:1.5rem;
}
}
/* END */


/* WEBSITE BREAKAGE QUERY  */

@media screen and (max-width:580px){
.sct-2 img{
    width:250px;
    height:250px;
}


.ftr .nav-link {
    padding:0.3rem;
}


}

/* IPHONE 11 */
@media screen and (max-width:414px){
    .header-content h1{
    font-size:3.5rem;
    }
}

/* IPHONE X 320PX */ 

@media screen and (max-width:400px){
    .header-content h1{
        font-size:3rem;

    }
}